<h2 class="text-primary">LOCATION: JFK TERMINAL 1</h2>
<div *ngIf="isDataAvailable">
    <div class="row">
        <h3 class="text-center text-primary">Transit time from terminal entry to clearing security</h3>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Number of Passengers</div>
                <div class="panel-body" style="height: 320px">
                  <canvas baseChart
                          [data]="transitPeriodchartDeviceData"
                          [labels]="chartLabels"
                          [chartType]="'doughnut'"></canvas>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Transit time from terminal entry to clearing security - Last 5 Minutes</div>
                <div class="panel-body" style="height: 320px">
                    <div class="col-md-12">
                        <canvas
                          baseChart
                          [chartType]="'bar'"
                          [datasets]="transitPeriodchartData5Min"
                          [labels]="batchartLabels"
                          [options]="chartOptions"
                          [legend]="false"
                          (chartClick)="onChartClick($event)">
                        </canvas>
                        <div class="panel panel-default" style="width:100%;">
                            <div class="panel-body">
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Mean transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData5Min[0].data[0] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Median transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData5Min[0].data[1] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">95th percentile</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData5Min[0].data[2] }} Minutes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Transit time from terminal entry to clearing security - Last 15 Minutes</div>
                <div class="panel-body" style="height: 320px">
                  <canvas
                      baseChart
                      [chartType]="'bar'"
                      [datasets]="transitPeriodchartData15Min"
                      [labels]="batchartLabels"
                      [options]="chartOptions"
                      [legend]="false"
                      (chartClick)="onChartClick($event)">
                  </canvas>
                       <div class="panel panel-default" style="width:100%;">
                            <div class="panel-body">
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Mean transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData15Min[0].data[0] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Median transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData15Min[0].data[1] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">95th percentile</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData15Min[0].data[2] }} Minutes</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Transit time from terminal entry to clearing security - Last 60 Minutes</div>
                <div class="panel-body" style="height: 320px">
                  <canvas
                      baseChart
                      [chartType]="'bar'"
                      [datasets]="transitPeriodchartData60Min"
                      [labels]="batchartLabels"
                      [options]="chartOptions"
                      [legend]="false"
                      (chartClick)="onChartClick($event)">
                  </canvas>
                       <div class="panel panel-default" style="width:100%;">
                            <div class="panel-body">
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Mean transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData60Min[0].data[0] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Median transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData60Min[0].data[1] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">95th percentile</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ transitPeriodTableData60Min[0].data[2] }} Minutes</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <h3 class="text-center text-primary">Transit time from entry to security screening to clearing security</h3>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Number of Passengers</div>
                <div class="panel-body" style="height: 320px">
                  <canvas baseChart
                          [data]="securityPeriodchartDeviceData"
                          [labels]="chartLabels"
                          [chartType]="'doughnut'"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Transit time for passengers clearing security – last 5 Minutes</div>
                <div class="panel-body" style="height: 320px">
                    <div class="col-md-12">
                        <canvas
                          baseChart
                          [chartType]="'bar'"
                          [datasets]="securityPeriodchartData5Min"
                          [labels]="batchartLabels"
                          [options]="chartOptions"
                          [legend]="false"
                          (chartClick)="onChartClick($event)">
                        </canvas>
                        <div class="panel panel-default" style="width:100%;">
                            <div class="panel-body">
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Mean transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData5Min[0].data[0] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Median transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData5Min[0].data[1] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">95th percentile</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData5Min[0].data[2] }} Minutes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Transit time for passengers clearing security – Last 15 Minutes</div>
                <div class="panel-body" style="height: 320px">
                  <canvas
                      baseChart
                      [chartType]="'bar'"
                      [datasets]="securityPeriodchartData15Min"
                      [labels]="batchartLabels"
                      [options]="chartOptions"
                      [legend]="false"
                      (chartClick)="onChartClick($event)">
                  </canvas>
                       <div class="panel panel-default" style="width:100%;">
                            <div class="panel-body">
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Mean transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData15Min[0].data[0] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Median transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData15Min[0].data[1] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">95th percentile</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData15Min[0].data[2] }} Minutes</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Transit time for passengers clearing security – Last 60 Minutes</div>
                <div class="panel-body" style="height: 320px">
                  <canvas
                      baseChart
                      [chartType]="'bar'"
                      [datasets]="securityPeriodchartData60Min"
                      [labels]="batchartLabels"
                      [options]="chartOptions"
                      [legend]="false"
                      (chartClick)="onChartClick($event)">
                  </canvas>
                       <div class="panel panel-default" style="width:100%;">
                            <div class="panel-body">
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Mean transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData60Min[0].data[0] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">Median transit time</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData60Min[0].data[1] }} Minutes</div>
                                <div style="width: 100%; font-size: 14px; display: block; text-align: center; color:#00b3ee; font-weight: 600">95th percentile</div>
                                <div style="width: 100%; font-size: 12px; display: block; text-align: center">{{ securityPeriodTableData60Min[0].data[2] }} Minutes</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


